
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,700,900');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html, body{
    font-family: 'Work Sans', sans-serif !important;
    font-size: $font-16;
    font-weight: 300;
    width: 100%;
    background: $white-color;
}
body{
    font-family: 'Work Sans', sans-serif !important;
    
}
/*Margin*/
.mt-64{ margin-top:64px; }
.mt-80{ margin-top:80px; }
.mt-7e2{ margin-top: 7.2rem; }
.mb-6e2{ margin-bottom: 6.2rem; }
.mx-3{
    margin-left: 3rem;
    margin-right:3rem;
}

/*Padding*/
.py-165{  
    padding-top: 165px;
    padding-bottom: 165px;
    @include screenSize(ss-phone){ 
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
.py-4e4{ 
    padding-top: 4.4rem; 
     padding-bottom: 4.4rem
}


/**Font-Size**/
.f-12{ font-size: 12px; }
.f-14{ font-size: $font-14; }
.f-16{ font-size: $font-16; }
.f-24{ 
    font-size: $font-24; 
    @include screenSize(small-desktop){ font-size: 18px;}
}
.f-36{ font-size: $font-36; }
.f-40{ font-size: $font-40; }
.f-58{ font-size: $font-58; }


/*** Font weight***/
.fw-500{ font-weight: 500;}

/***Width***/
.width-80p{ width:80%; }
.width-195{ width: 195px; }
.width-300{ width:300px; }
.width-364{ width: 364px; }

/**Heights**/
.h-44{ height:44px }
.h-400{ height:400px; }

/**Backgrounds**/
.bg-white{ background:$white-color }
.bg-grey{ background: #F9F9F9; }
.bg-dark-brand{ background: $font-color; }
.bg-brand{ background: $brown-color; }
.bg-dark-grey{ background: #D8D8D8;}
.bg-blue{ background: #334ea8; }

/**Colors**/
.white-text{ color: $white-color;}
.grey-sd{ color: #D1C8C8;}
.font-color{ color: $font-color; }
.brand-color{ color: $brown-color; }

/***Borders ***/
.grey-bd{ border: 1px solid #CDCDCD;}
.bd-brand{ border: 1px solid $brown-color; }
.br-2{ border-radius: 2px;}


.list-none{ list-style-type: none;}
.dis-none{ display: none; }
.dis-block{ display: block; }
.no-decor{ text-decoration: none; }
.no-decor:hover{ text-decoration: none; }
.hover-link:hover{ color: $brown-color; }
.active{ color: $brown-color; }

.hover-link:active{ color: $brown-color; }



/***CUSTOM STYLING***/

.inner-content{
    padding-top: 227px;
    padding-left:100px;
    h1{
        font-weight: 500;
        @include screenSize(ss-phone){font-size: $font-40}
    }
    p{
        line-height: 24px;
        font-size: 20px;
    }
    @include screenSize(ss-phone){
        padding: 1em;
        padding-top: 150px;
    }
    @include screenSize(ls-phone){
        padding: 1em;
        padding-top: 150px;

    }
    @include screenSize(tablet){
        padding-top: 150px;
    }
    @include screenSize(small-desktop){ padding-top: 170px;}
}

.small-hr{
 border: 1px solid $brown-color;
 width: 97px;
 text-align: center;
 height: 3px;   
 border-radius: 2px;
 margin: auto;
 background: $brown-color;

}

.divider {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 35px; 
}
.divider p {
    margin-top: 5px; 
}
.divider:before {
    content: '';
    height: 1.5px;
    background: #E1E0E0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 .45em 0 0; 
}
.divider:after {
    content: '';
    height: 1.5px;
    background: #E1E0E0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 0 0 .45em; 
}
.form-container{
    width: 364px;
    margin: auto;
    border-radius: 3px;
    background: #fff;
    @include screenSize(small-desktop){padding: 1rem;}
    label{
        @include screenSize(small-desktop){font-size: 16px;}
    }
    @include screenSize(tablet){
        
        padding: 1rem 1rem;
    }
    @include screenSize(ls-phone){padding: 1rem;}
    @include screenSize(ss-phone){
        width: 100%;
        padding:  1rem;
    }
}
  